
html,
body {
  height: 90%;
}

body {
  background-image: url('../images/creditcard.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(1.2);
}

.form-signin {
  max-width: 330px;
  padding: 1.5rem;
  background-color: rgb(216, 241, 252);
  border-radius: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  margin-bottom: 5%;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
}

.btn{
  margin: auto;
  display: block;
  margin-top: 10%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #0a4aa9;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}

/****************************** SIGN UP FORM   ******************************************/
/*Conteneur principal*/
.register{
  /*degradé lineer  en arrier*/
  background: -webkit-linear-gradient(left, #0a4aa9, #9bdff3);
  margin-top: 3%;
  padding: 3%;
}
.register-left{
  text-align: center;
  color: #fff;
  margin-top: 4%;
}

.register-right{
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.register-left img{
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
.register-left p{
  font-weight: lighter;
  padding: 10%;
  margin-top: -9%;
}
.register .register-form{
  padding: 10%;
  margin-top: 10%;
}
.register-right {
 color: #0a4aa9;
}
.register .nav-tabs{
  margin-top: 3%;
  border: none;
  background: #0a4aa9;
  border-radius: 1.5rem;
  width: 28%;
  float: right;
}
.register .nav-tabs .nav-link{
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
  border: none;
}
.register .nav-tabs .nav-link.active{
  width: 100px;
  color: #0a4aa9;
  border: 2px solid #0a4aa9;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.register-heading{
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #0a4aa9;
}
.form-group{
  margin-bottom: 5%;
  color: #0a4aa9;
}
.register-right{
  margin: auto;
}
.form-control::placeholder {
  /*color: #0a4aa9; */
  color: rgba(10, 74, 169, 0.5);
}
/****************************** signIn2 ****************************************/
.register-form1{
  display: flex; 
  justify-content: center;
  align-items: center; 
  flex-direction: column; 
  padding: 10%; 
  margin-top: 10%; 
}
/***************************** INDEX **************************************/

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

/****************************** DASHBOARD *******************************/
.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.border-bottom{
background-color: #0a4aa9;
background: #fff;
}
/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar-heading {
  font-size: .75rem;

}

/*
 * Navbar
 */
 .background{
  background-image: none;

 }

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}





