
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>SignUp - Register Form</title>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<main>
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="images/feuille.jpg" alt=""/>
                <h3>Any questions?</h3>
                <h4> You can contact us</h4>
            </div>
            <div class="col-md-9 register-right">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Contact us</h3>
                    <div class="row register-form">
                        <form th:action="@{/contactForm}" th:object="${contactForm}" method="POST">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" th:field="*{firstname}" class="form-control" placeholder="First Name *" />
                                </div>
                                <div class="form-group">
                                    <input type="email" th:field="*{email}" class="form-control" placeholder="Your Email *"/>
                                </div>
                                <div class="form-group">
                                    <input type="text" th:field="*{subject}" class="form-control" placeholder=" Subject*"/>
                                </div>
                                <div class="form-group">
                                    <input type="text" th:field="*{message}" class="form-control" placeholder=" Your message *"/>
                                </div>
                                <input type="submit" class="btnRegister"  value="Send"/>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

</main>

</html>




