

<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>SignUp - Register Form</title>
      <link href="bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="style.css">
  </head>

    <main>
        <div class="container register">
            <div class="row">
                <div class="col-md-3 register-left">
                    <img src="images/feuille.jpg" alt=""/>
                    <h3>Welcome in</h3>
                    <p> You already have an account?</p>
                    <input type="submit" class="btn" name="" th:value="Login" th:action="@{/signin.html}"/><br/>
                </div>
                <div class="col-md-9 register-right">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h3 class="register-heading">Create your account</h3>
                            <div class="row register-form">
                                <form th:action="@{/signup}" th:object="${signUpForm}" method="POST">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" th:field="*{firstname}" class="form-control" placeholder="First Name *" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" th:field="*{lastname}" class="form-control" placeholder="Last Name *"/>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" th:field="*{email}" class="form-control" placeholder="Your Email *"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="password" th:field="*{password}" class="form-control" placeholder="Password *" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" th:field="*{confirmPassword}" class="form-control"  placeholder="Confirm Password *" />
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox">I agree to the license terms.</label></div>
                                        </div>
                                        <input type="submit" class="btn" value="Sign Up"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </main>
   
</html>




